.title{
  margin-top: .5em;
  text-align: center;
}

.contact-list{
  border-left: 1px solid rgb(237, 237, 237);
}

.search-box{
  margin-top: 2em;
  margin-bottom: 1em;
}

.item-box{
  padding: 1em;
  border: 1px solid rgb(237, 237, 237);
}

.img-area img{
  width: 100%;
}